<% @posts.each do |post| %> 
	<div class="card mt-4 p-4">
		<h4 class="mb-1"><%= link_to post.title, community_post_path(post.community_id, post) %></h4>
		<p><%= link_to post.community.name,community_path(post.community)  %> Posted By <%= link_to post.account.full_name, profile_path(post.account.username) %> <small> <%= time_ago_in_words post.created_at %></small> ago.</p>
		<p><%= truncate post.body, lengthh: 100 %></p>
	</div>
<% end %> 